<plugin
  xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="old-storage-plugin"
  version="1.0">

  <name>Storage</name>
  <author>Matthew Pallansch</author>
  <license>MIT</license>
  <keywords></keywords>

  <description>
    A plugin for fetching natively stored data in previous versions of the TravWell application
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
    
    <platform name="android">
        <source-file src="libs/activeandroid-3.0.jar" target-dir="libs/" />
        <source-file src="src/android/Alarm.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/DatabaseQueries.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Destination.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Disease.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Document.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Drug.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/PackingItem.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/PackingSuperGroup.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Profile.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Storage.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/Trip.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/loaders/GetAllDiseasesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetAllDocumentTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetAllTripsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetDestinationsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetDestinationTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetDiseaseTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetDocumentTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetPackingItemsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetProfileDiseaseVaccineTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetProfileMedicinesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/loaders/GetProfileVaccinesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Storage">
                <param name="android-package" value="gov.cdc.oid.ncezid.travwell.model.Storage" />
            </feature>
        </config-file>
    </platform>
    
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="Storage">
                <param name="ios-package" value="Storage" />
            </feature>
        </config-file>

        <header-file src="src/ios/Storage.h" />
        <source-file src="src/ios/Storage.m" />

    </platform>

  <js-module src="www/storage.js" name="Storage">
    <clobbers target="OldStorage" />
  </js-module>

  <platform name="ios"></platform>
  <platform name="android"></platform>
</plugin>
