<plugin
  xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="old-storage-plugin"
  version="1.0">

  <name>Storage</name>
  <author>Matthew Pallansch</author>
  <license>MIT</license>
  <keywords></keywords>

  <description>
    A plugin for fetching natively stored data in previous versions of the TravWell application
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
    
    <platform name="android">
        <source-file src="libs/activeandroid-3.0.jar" target-dir="libs/" />
        
        <source-file src="src/android/model/Alarm.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/DatabaseQueries.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Destination.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Disease.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Document.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Drug.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/PackingItem.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/PackingGroup.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/PackingSuperGroup.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Profile.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        <source-file src="src/android/model/Trip.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model" />
        
        <source-file src="src/android/model/loaders/GetAllDiseasesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetAllDocumentTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetAllTripsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetDestinationsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetDestinationTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetDiseaseTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetDocumentTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetPackingItemsTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetProfileDiseaseVaccineTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetProfileMedicinesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        <source-file src="src/android/model/loaders/GetProfileVaccinesTask.java" target-dir="src/gov/cdc/oid/ncezid/travwell/model/loaders" />
        
        <source-file src="src/android/utils/PreferenceUtils.java" target-dir="src/gov/cdc/oid/ncezid/travwell/utils" />
        
        <source-file src="src/android/Storage.java" target-dir="src/gov/cdc/oid/ncezid/travwell" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Storage">
                <param name="android-package" value="gov.cdc.oid.ncezid.travwell.Storage" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="AA_DB_NAME"
                android:value="TravelHealth.db"/>
            <meta-data
                android:name="AA_DB_VERSION"
                android:value="2"/>
            <meta-data
                android:name="AA_MODELS"
                android:value=".model.Alarm, .model.Destination, .model.Disease, .model.Document, .model.Drug, .model.PackingGroup, .model.PackingItem, .model.PackingItem,.model.PackingSuperGroup, .model.Profile, .model.Trip"/>
        </config-file>
    </platform>
    
    <platform name="ios">

        <framework src="MagicalRecord" type="podspec" spec="2.2" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="MagicalRecord" spec="2.2" />
            </pods>
        </podspec>

        <config-file target="config.xml" parent="/*">
            <feature name="Storage">
                <param name="ios-package" value="Storage" />
            </feature>
        </config-file>

        <header-file src="src/ios/Storage.h" />
        <source-file src="src/ios/Storage.m" />

    </platform>

  <js-module src="www/storage.js" name="Storage">
    <clobbers target="OldStorage" />
  </js-module>
</plugin>
